*.exe
*.idb
*.kdevelop.pcs
*.kdevses
*.la
*.lo
*.o
*.a
*.obj
*.sln
*.vcproj
*~
.deps
.libs
core

Makefile
Makefile.in
ChangeLog

*-config
*-config.in
*.iss
*.pc
*.spec
*.tag
*.tar.gz
ABOUT-NLS
Doxyfile
Makefile.palm
aclocal.m4
apidoc
autom4te.cache
conf.uint32
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
configure.palmos
depcomp
distribution
gwenhywfar
gwenhywfar-*.*.*
gwenhywfar2
install-sh
libtool
listdoc.h
ltmain.sh
missing
mkinstalldirs
stamp-h1
i18nsources

*.xml
*.rc
src/types.h
src/version.h
src/os/posix/system.h
src/os/windows/system.h
doc/plugindescr.xsd
admin/mklistdoc
checks/checks
doc/inherit/testinherit
po/*.mo
src/testlib
test/gwentest
tools/gcttool/cttest
tools/gcttool/gct-tool
tools/typemaker/typemaker
tools/xmlmerge/xmlmerge
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
